/* Fonts */

html
{
  font-family: sans-serif;

  --brand-black: rgb(0,0,0);
  --brand-white: rgb(255,255,255);
  --brand-red: rgb(170,0,0);
  --brand-charcoal: rgb(85,85,85);
  --brand-silver: rgb(170, 170, 170);
  --brand-blue: rgb(85, 128, 191);
  --brand-green: rgb(0,85,64);
}

/* Brand Identity */

svg.dark
{
  fill: var(--brand-black);
}
svg.light
{
  fill: var(--brand-white);
}
svg.red
{
  fill: var(--brand-red);
}
svg.green
{
  fill: var(--brand-green);
}

/* Navigation */

.nav-logo
{
  /* Original dimensions
     width: 500px;
     height: 385px;
  */
  width: 23vw;
  height: 18vw;
  margin: 1vw;
  color: var(--brand-white);
}

header
{
  display: flex;
  background-color: var(--brand-black);
  background-image: url(imgs/NWNA_collage.jpg);
  background-size: cover;
  background-position: center;
  height: 20vw;
}

.topnav
{
  display: inline-flex;
  background-color: rgba(0,0,0,.33);
  overflow: hidden;
}

.topnav a
{
  float: left;
  display: flex;
  color: var(--brand-silver);
  text-align: center;
  align-items: center;
  height: 48px;
  padding: 0 30px;
  text-decoration: none;
}

.topnav a:hover
{
  background-color: rgba(170,0,0,.5);
  color: var(--brand-silver);
}

.topnav .active
{
  background-color: rgba(0,85,64,.5);
  color: var(--brand-silver);
}

.topnav .icon
{
  display: none;
}

/* Responsive Navigation w3schools.com/howto/howto_js_topnav_responsive.asp */

@media screen and (max-width: 600px)
{
  .topnav a:not(:first-child)
  {
    display: none;
  }

  .topnav a.icon
  {
    float: right;
    display: flex;
  }

  .topnav.responsive
    {
      position: relative;
    }

  .topnav.responsive a.icon
  {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a
  {
    float: none;
    display: flex;
    text-align: left;
  }
}

body
{
  margin: 0;
  min-height: 100vh;
  position: relative;
}

main
{
  padding: 0 15px;
  max-width: 75ch;
  padding-bottom: 4rem;
  position: relative;
}

.modal-thumbnail
{
  position: relative;
}

.modal-thumbnail div
{
    position: absolute;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--brand-white);
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .2s linear;
    background: rgba(0,0,0,0.5);
    filter: opacity(0);
}

.modal-thumbnail:hover div
{
  filter: opacity(1);
}

.modal
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content
{
  background-color: #ffffff;
  position: relative;
  margin: auto;
  padding: 20px;
  border: 1px solid var(--brand-gray);
  display: table;
}

.close
{
  color: var(--brand-black);
  position: absolute;
  line-height: 1;
  width: 20px;
  height: 20px;
  right: 7px;
  top: 7px;
  display: flex;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus
{
  text-decoration: none;
  cursor: pointer;
}

.prev
{
  color: var(--brand-black);
  position: absolute;
  width: 20px;
  height: 20px;
  left: 7px;
  display: flex;
  justify-content: center;
  top: 50%;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.next
{
  color: var(--brand-black);
  position: absolute;
  width: 20px;
  height: 20px;
  right: 7px;
  display: flex;
  justify-content: center;
  top: 50%;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

figure
{
  margin: 0;
}

figcaption
{
  width: 500px;
  font-size: small;
}

.newsletter-div
{
  display: flex;
  justify-content: space-between;
}

.reveal
{
  display: none;
}

.reveal:target
{
  display: block;
}

footer
{
  /* width + padding + border = actual visible, rendered width; css-tricks.com/box-sizing/ */
  box-sizing: border-box;
  padding: 5px 5px;
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100%;
}

footer .admin
{
  float: right;
}
